node_modules
**/build
**/lib
**/node_modules
**/mock_packages
**/static
**/typings
**/schemas
**/themes
**/ui-tests
coverage
*.map.js
*.bundle.js
app/index.template.js
**/src/__tests__

# jetbrains IDE stuff
.idea/

# ms IDE stuff
.history/
.vscode/
*.json
*.ipynb

jest.config.js